<app-header-breadcrumb></app-header-breadcrumb>
<p-panel header="Lista de productos">
    <div align="center">
    <button nz-button nzType="primary" (click)="abrirModal()">Registrar producto</button>
    </div>
    <div class="ui-g">
        <div class="ui-g-10 ui-sm-8"><label style="float:right;">Page Size:</label></div>
        <div class="ui-g-2 ui-sm-4"><input type="text" pInputText [(ngModel)]="pageSize"></div>
    </div>

    <p-table [value]="productos" [paginator]="true" [rows]="pageSize">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prod>
            <tr >
                <td>
                    {{prod.nombre}}
                </td>
                   
                <td>
                    {{prod.precio}}
                </td>
                <td >
                    {{prod.imagen}}
                </td>
                <td>
                    <button nz-button nzType="primary">Editar</button>
                    <button nz-button nzType="default" nzDanger (click)="abrirModalEliminar(prod.id)">Eliminar</button>

                </td>
            </tr>
        </ng-template>
    </p-table>


    <!-- Modal registrar producto -->
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Registrar producto" (nzOnCancel)="abrirModal()" (nzOnOk)="registrarProducto()" nzOkText="Registrar" [nzOkDisabled]="!verificado" nzCancelText="Cancelar">
        <ng-container *nzModalContent>
            <div align="center">
          Nombre:
          <br>
          <input id="nombre" type="text" style="width:300px">
          <br>
           <br>
          Precio : $
          <br>
          <input id="precio" type="number" style="width:300px">
          <br>
          <br>
          Ruta de la imagen (URL): 
          <br>
          <input id="imagen" type="text" style="width:300px">
            <br>
            <br>
            <iframe src="https://subefotos.com/" style="height: 300px; width:300px"></iframe>
            {{verificar()}}
        </div>
        </ng-container>
      </nz-modal>

      <!-- Modal eliminar producto -->

      <nz-modal [(nzVisible)]="modalEliminar" nzTitle="Eliminar producto" (nzOnCancel)="abrirModalEliminar(0)" (nzOnOk)="eliminarProducto()" nzOkText="Eliminar" nzCancelText="Cancelar">
        <ng-container *nzModalContent>
            <div align="center">
        </div>
        </ng-container>
      </nz-modal>


</p-panel>